.other_events__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-width: 400px;
  border-top: 1px solid rgb(194, 193, 193);
  margin-bottom: 1vw;
}

.other_events__container > div {
  width: 70%;
  padding: 1.5vw 0px;
}


.other_events__content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 780px) {
  .other_events__container > div {
    width: 400px;
  }

  .other_events__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.other_event__link {
  text-decoration: none;
}

.other_event__link:hover {
  opacity: 0.8;
  background-color: rgba(100,100,100,0.2);
}
