.other_event__card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 275px;
  height: 175px;
  color: rgba(75, 75, 75, 0.8);
  background: rgb(255, 255, 255);
  border: 0.5px solid rgba(100, 100, 100, 0.2);
  box-sizing: border-box;
  margin: 2vw;
  padding: 10px;
  border-radius: 5px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  hyphens: auto;
}

.other_event__card > div {
  padding: 0px 1vw;
}

.other_event__card > div > span:first-child {
  font-size: 10pt;
  color: palevioletred;
}

.other_event__card > div > h4 {
  font-size: 16px;
  color: rgb(50, 50, 50);
  margin: 10px 0px 0px 0px;
}

.other_event__card > div > span {
  font-size: 10pt;
  margin: 0px 0px 10px 0px;
}

.event__location {
  font-size: 14px;
  margin: 10px;
}

.event__location > span {
  margin-left: 4px;
  color: rgb(75, 75, 75);
}

.event_num__attendees {
  width: 90%;
  font-size: 15px;
  color: rgb(75, 75, 75);
  display: flex;
  justify-content: flex-end;
}
