.popular_groups__container {
  border: 1px solid rgba(100, 100, 100,0.2);
  box-shadow: 1px 1px 1px 1px rgba(120, 120, 20, 0.5);
  background-color: rgba(220, 50, 100, 0.1);
  color: rgb(50, 50, 50);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  cursor: pointer;
  width: 350px;
  height: 200px;
  margin: 1vw 1vw;
}

.popular_groups__container:hover {
  background-color: rgba(100, 100, 100, 0.25);
  opacity: 0.8;
}

.popular_groups__container > div:first-child {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(100, 100, 100, 0.4);
}

.popular_groups__container > div > img {
  width: 175px;
  height: 100px;
  border-top-left-radius: 10px;
  object-fit: cover;
}

.popular_groups__container > div > h3 {
  margin-left: 4px;
}

.popular_groups__container > div:last-child > p {
  box-sizing: border-box;
  margin: 5px 10px;
}
