.upcoming_event__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 1vw;
  width: 350px;
}

.upcoming_event__link {
  text-decoration: none;
  color: rgb(50,50,50);
  padding: 1vw;
}

.upcoming_event__link:hover {
  background-color: rgba(100,100,100,0.2);
  color: palevioletred;
  border-radius: 5px;
}

.upcoming_event__link > div:first-child {
  display: flex;
  flex-direction: column;
}

.upcoming_event__link > div > time {
  font-weight: 600;
}

.upcoming_event__link > div:first-child > span {
  color:purple
}
