.upcoming_event__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 1vw;
  width: 350px;
}

.upcoming_event__link {
  text-decoration: none;
  color: rgb(50,50,50);
  padding: 1vw;
}

.upcoming_event__link:hover {
  background-color: rgba(100,100,100,0.2);
  color: palevioletred;
  border-radius: 5px;
}

.upcoming_event__link > time {
  font-weight: 600;
}

.upcoming_event__link > span {
  color:purple
}

/* .group-upcoming-event-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.group-upcoming-event-info-container {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  text-decoration: none;
  border-radius: 0.5rem;
}

.group-upcoming-event-info-container > time {
  color: rgb(117, 117, 117);
  margin-left: 1rem;
  margin-top: 1rem;
}

.group-upcoming-event-info-container > span {
  color: rgb(117, 117, 117);
  font-weight: 500;
  font-size: 20px;
  margin-left: 1rem;
}

.group-upcoming-event-attendees-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.group-upcoming-event-attendees-container > .fa-user-large {
  margin-left: 1rem;
  color: rgb(117, 117, 117);
}

.group-upcoming-event-attendees-container
  > .group-upcoming-event-num-attendees {
  font-size: 0.875rem;
  font-weight: 400;
  color: rgb(117, 117, 117);
} */
