.footer_center__column {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 0px;
}

.footer_center__column > span {
  font-weight: 500;
  font-size: 12pt;
  color: rgb(225, 225, 225);
}

.footer_column__links {
  text-decoration: none;
  font-size: 12pt;
  color: rgb(100, 100, 100);
  letter-spacing: 0;
  font-weight: 500;
  cursor: pointer;
}

.footer_column__links:hover {
  text-decoration: none;
  font-size: 12pt;
  color: paleturquoise;
  letter-spacing: 0;
  font-weight: 500;
  cursor: pointer;
}
