.profile__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 100px;
}

.profile__container > div:first-child {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0px;
}

.profile__container > div:first-child > button {
  height: 40px;
  width: 40px;
  background-color: peachpuff;
  border-radius: 100%;
  border: 2px solid olive;
  font-size: 14pt;
  font-weight: 500;
  color: rgb(100, 100, 100);
  margin: 0px 1vw;
}

.profile__container > div:first-child > span {
  font-size: 20pt;
  font-weight: 500;
  color: rgb(100, 100, 100);
  margin: 0px 1vw;
}

.profile__container > div:nth-child(2) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
}

.profile__container > div:nth-child(2) > div {
  align-items: center;
  width: 50%;
  min-width: 400px;
  max-width: 600px;
}


.profile__container > div:nth-child(2) > div > span {
  font-size: 15pt;
  font-weight: 600;
}

.profile_groups__link {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  border-radius: 10px;
  border: 1px solid olive;
  box-shadow: 1px 1px 1px 1px rgba(100, 100, 100, 0.3);
  height: 200px;
  margin: 10px 0px;
}

.profile_groups__link:hover  {
  opacity: 0.7;
  background-color: rgba(100, 100, 100, 0.3);
}


.profile_groups__link > div {
  font-weight: 500;
  font-size: 14pt;
  margin: 0px 5px;
}

.profile_groups__link > img {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 300px;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 780px) {
  .profile_groups__link > img {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 200px;
    height: 100%;
    object-fit: cover;
  }
}
