.create_group_form__container {
  display: flex;
  justify-content: center;
  background-color: rgba(255, 218, 185, 0.4);
}

.create_group_form__container > div {
  width: 400px;
  height: max-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.75);
  border: 1px solid olive;
  border-radius: 10px;
  margin: 5px;
  box-shadow: 2px 2px 2px 2px rgba(100, 100, 100, 0.2);
}

.create_group_form__container > div > h1 {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 18pt;
  margin: 2vw 0px;
}

.create_group_form__container > div > form {
  box-sizing: border-box;
  padding: 0px 10px;
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.create_group_form__container > div > form > label {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 12pt;
  padding-bottom: 5px;
  color: rgb(75, 75, 75);
}

.create_group_form__container > div > form > label > input {
  border: 1px solid olive;
  height: 20px;
  border-radius: 5px;
}

.create_group_form__container > div > form > label > input:hover {
  border: 1px solid palevioletred;
  box-shadow: 1px 1px 1px 1px rgba(100, 100, 100, 0.25);
}

.create_group_form__container > div > form > label > input:focus {
  outline: none;
  box-shadow: 1px 1px 1px 1px rgba(100, 100, 100, 0.5);
}

.create_group__selection {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
}

.create_group__selection > label {
  display: flex;
  flex-direction: column;
  width: 45%;
  font-size: 12pt;
  padding-bottom: 5px;
  color: rgb(75, 75, 75);
}

.create_group__selection > label > select {
  border: 1px solid olive;
  height: 25px;
  border-radius: 5px;
}

.create_group__selection > label > select:hover {
  border: 1px solid palevioletred;
  box-shadow: 1px 1px 1px 1px rgba(100, 100, 100, 0.25);
}

.create_group__selection > label > select:focus {
  outline: none;
  box-shadow: 1px 1px 1px 1px rgba(100, 100, 100, 0.5);
}

.create_group_form__container > div > form > button {
  margin: 15px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
  border: 1px solid olive;
  color: gray;
  background-color: rgba(216, 112, 147, 0.35);
  box-shadow: 1px 1px 1px 1px rgba(100, 100, 100, 0.25);
  padding: 5px 10px;
  font-size: 12pt;
  font-family: Architects Daughter;
  height: 3rem;
}

.create_group_form__container > div > form > button:hover {
  background-color: rgba(255, 0, 25, 0.75);
  color: white;
}

.create_group_form__container > div > form > ul {
  color: red;
  text-align: center;
  font-size: 11pt;
}
