.nav_choice__container {
  width: 65%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid rgba(100, 100, 100, 0.4);
  margin: 2vw 0px;
}

.nav_choice__container > div:first-child {
  display: flex;
  width: 50%;
  justify-content: space-evenly;
  font-size: 15pt;
}

.nav_choice__link {
  text-decoration: none;
  color: rgba(100, 100, 100, 1);
}

.nav_choice__link:hover {
  color: palevioletred;
}

.selected {
  color: red;
}

.nav_choice__container > span {
  color: rgba(100, 100, 100, 0.8);
  padding: 10px 0px;
}
