.event_header__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-bottom: 1px solid rgba(100, 100, 100, 0.2);
  padding: 2vw 0px;
  background-color: rgba(100, 100, 100, 0.1);
}

@media screen and (max-width: 780px) {
  .event_header__container {
    display: flex;
    flex-direction: column;
    min-width: 400px;
  }
}

.event_header__container > div {
  width: 60%;
  min-width: 375px;
}

.event_header__container > div > time {
  color: palevioletred;
  font-weight: 500;
}

.event_header__container > div > h2 {
  font-size: 18pt;
  display: flex;
  flex: start;
  align-items: flex-start;
  justify-content: space-between;
  margin: 0.5vw 0px;
  padding: 0;
}

.event_edit_dropdown {
  display: flex;
  font-size: 12pt;
  font-family: Architects Daughter;
  transform: translate(-70%, 10%);
  flex-direction: column;
  justify-content: flex-start;
  position: absolute;
  border-radius: 5px;
  border: 1px solid olive;
  box-shadow: 1px 1px 1px 1px rgba(100, 100, 100, 0.2);
  background-color: white;
}

.event_edit_dropdown > div {
  margin: 7px;
  padding: 7px;
}

@media screen and (max-width: 780px) {
  .event_edit_dropdown > div {
    margin: 1vw;
    padding: 1vw;
  }
}

.event_edit_dropdown > div:hover {
  background-color: rgba(100, 100, 100, 0.2);
}

.event_organizer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.event_organizer > div {
  /* display: flex;
  flex-direction: column; */
  color: rgb(100, 100, 100);
  font-size: 12pt;
  padding: 0px 5px;
}

.event_organizer > div > span {
  padding: 0px 5px;
}
